<center> <h1>  Hello there! </h1>

<section> What's your name? 
<form action='/name' action='post'> 
<input type='text' name='name'>
    <section>
    When's your birthday? 
    </section>
Day: <input type='text' name='birth_day'> Month:
  <select name="birth_month">
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select>
  <input type="submit" value="Go!">
</form>
</section>
</center> 